@import "./colors.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex_main {
  height: 926px;
  width: 428px;

  @media screen and (max-width: 768px) {
    width: 350px;
    margin-left: 1rem;
  }
}

.flex_img {
  height: 462px;
  border-radius: 0px;
  margin-bottom: 71px;
  inset: 0 10px;
  @media screen and (max-width: 768px) {
    margin-bottom: -3rem;
  }

  img {
    height: 462px;
    width: 405px;
    border-radius: 0px;
    @media screen and (max-width: 768px) {
      height: 302px;
      width: 260px;
      inset-inline-start: 2rem;
    }
  }
}

.header_text {
  margin-bottom: 14px;
  p {
    font-family: Poppins;
    font-size: 44px;
    font-weight: 700;
    line-height: 66px;
    letter-spacing: 0em;
    text-align: center;
    color: $text_white;

    @media screen and (max-width: 768px) {
      font-size: 30px;
      font-weight: 600;
    }
  }
}

.quote_sec {
  height: 84px;
  width: 310px;
  border-radius: nullpx;
  p {
    font-family: Poppins;
    font-size: 22px;
    font-weight: 500;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: center;
    inset-inline-start: 3.5rem;
    color: $text_white;

    @media screen and (max-width: 768px) {
      inset-inline-start: 1.5rem;
    }
  }
}

.radio_sec {
  text-align: center;
  margin-bottom: 100px;

  input {
    margin-left: 10px;
    accent-color: $text_black;

    &.radio {
      border: none;
    }
  }
}

.skip_next {
  display: flex;
  justify-content: space-between;
  inset: -3rem 0;
  padding-inline: 25px;
}

button {
  height: 63px;
  width: 311px;
  border-radius: 50px;
  margin: -2rem 0;
  inset: -3rem 3.5rem;
  border: none;
  font-family: Poppins;
  font-size: 25px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: center;
  
  @media screen and (max-width: 768px) {
    
    inset: -3rem 1.5rem;
  }
}
